body {
    margin: 0;
    padding: 0;
    background-color: #f3eaff;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    margin-top: 0.67em;
    padding: 0;
}

.container{
    width: 45%;
    margin: 50px auto;
}

.confirmation {
    width: auto;
    height: auto;
    margin: 50px 0;
    padding: 20px;
    box-shadow: 1px 1px 5px #4f4f4f;
    background-color: white;
    border-top: 10px solid #c091ff;
}

.txtMargin {
    margin-bottom: 60px;
}

#footerDetails {
    color: white;
    background-color: #7129d1;
    padding: 5px;
    width: 90%;
}