body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    margin-top: 0.67em;
    padding: 0;
}

.container{
    width: 40%;
    margin: 50px auto;
}

.confirmationHead{
    border: solid 1px black;
    width: auto;
    height: auto;
    padding: 20px;
}